---
name: Run Unit Tests

on: 
  pull_request

jobs:
  test:
    name: Test Application
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Testing
        run: cd go && go test -v
